<h1>{{pageTitle}}</h1>
<form method="POST" action="/add-course">
    <div class="col">
        <div class="item">
            <label>Name</label>
            <input name="name">
        </div>
        <div class="item">
            <label>Professor</label>
            <input name="prof">
        </div>
        <div class="item">
            <label>Duration</label>
            <input name="duration">
        </div>
        <div class="item">
            <label>Credits</label>
            <input name="credits">
        </div>
    </div>
    <button type="submit">Submit</button>
</form>